.div-player {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 20px 10px rgba(168, 168, 168, 0.5);
  display: flex;
  flex-direction: column;
}
.video-container {
  flex-grow: 1;
}
.player-buttons {
  background-color:black;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.player-button {
  width: 35px;
  height: 35px;
  margin: 0px 2px 3.5px 0.6px;
  border-style:none;
  cursor:pointer;
  color:white;
  background-color:transparent;
  font-size: 20px;

}
.player-time{

  width: 60px;
  height: 31px;
  margin: 5px 0px 0px 0px;
  border-style:none;
  cursor: pointer;
  color: white;
  background-color:transparent;
  font-size: 17px;
  style="color: white;"
  font-family: 'Roboto', sans-serif;
}
.player-time, span{
  display: block;
  width: 60px;
}
.space {
  height: 5px;
  margin: 0px 10px 3.7px 0px;
  background-color: grey;
  border-radius: 3px;
  flex-grow: 1;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #ff001c;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 2px 2px 5px gray;
  display: inline-block;
}