:focus {
  outline: 0;
}
.div-player {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 20px 10px rgba(168, 168, 168, 0.5);
  display: flex;
  flex-direction: column;
}
.video-container {
  flex-grow: 1;
}
.player-buttons {
  background-color:black;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.player-button {
  width: 35px;
  height: 35px;
  margin: 0px 2px 3.5px 0.6px;
  border-style:none;
  cursor:pointer;
  color:white;
  background-color:transparent;
  font-size: 20px;
}
.progress-bar-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.player-time {
  width: 52px;
  height: 32px;
  color: white;
  background-color:transparent;
  font-size: 17px;
  align-items: center;
  margin: 10px 0px 0px 0px;
}
.slider-progress {
  display: flex;
  flex-grow: 2;
  padding: 0px 10px;
  cursor: pointer;
  align-items: center;
}
.slider {
  height: 5px;
  background-color: red;
  border-radius: 2.5px;
}
.slider-progress:hover .slider-dot {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 1;
}
.slider-dot {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  margin: 0px 4px 0px -6px;
  height: 8px;
  width: 8px;
  background-color: #ff001c;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 2px 2px 5px gray;
  opacity: 0;
}
