.div-player {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 20px 10px rgba(168, 168, 168, 0.5);
  display: flex;
  flex-direction: column;
}
.video-container {
  flex-grow: 1;
}
.player-buttons {
  background-color:black;
  flex-grow: 0;
  display: flex;
  align-items: baseline;
}
.player-button {
  width: 35px;
  margin: 5px 5px;
  border-style:none;
  cursor:pointer;
  color:white;
  background-color:transparent;
  font-size: 20px;
}
.space {
  flex-grow: 1;
}